#Projects {
  background-color: #2e3440;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5rem 0;
}

.project_title {
  color: #81a1c1;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.project_scroll {
  width: 100%;
  height: 600px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  display: flex;
  border-color: #434c5e;
  border-style: solid none;
  border-radius: 4px;
  background-color: #3b4252;
  margin-bottom: 2rem;

}

/*PROJECT CARDS*/

.project_card {
  display: flex;
  color: #4c566a;
  text-decoration: none;

  margin: 10px;
  height: 95%;
  width: 400px;
  min-width: 400px;
  border-radius: 4px;
  transition: 0.3s ease-in;

  align-items: center;
  justify-content: center;
  position: relative;

}

.project_card img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;

  filter: blur(1px);

}

.project_text {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
}

.project_text h1 {
  margin-bottom: 10px;
  margin-top: 3rem;
  color: #eceff4;
  text-shadow: 2px 2px #3b4252;
  font-size: 3rem;
  text-align: center;
  word-break: keep-all;
  white-space: normal;
}

.project_text h2 {
  margin-bottom: 50px;
  color: #eceff4;
  text-shadow: 2px 2px #3b4252;
  font-size: 1.5rem;
}

.project_text p {
  color: #eceff4;
  text-shadow: 2px 2px #3b4252;
  padding: 10px;
  font-size: 1rem;
  word-break: keep-all;
  white-space: normal;

}

.project_card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
}