* {
    --picture-size: 600px;
}

#header{
    margin: 8rem 0 0 0;
    padding: 2rem;
}

#name_header{
    padding-bottom: 10px;
}

#self_image{
    min-width: var(--picture-size);
    height: var(--picture-size);
    border-radius: 50%;
    border: solid 8px var(--color-dark);
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.education > li{
    margin-left: 3rem;
    padding: 1rem;
    list-style: disc;
}

.interests > li{
    margin-left: 3rem;
    padding: 5px;
    font-weight: bold;
    list-style: disc;
}

.bold_text{
    font-weight: bolder;
    font-size: 20px;
}