a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-custom{
  background-color: var(--color-black) !important;
  border-bottom:solid 4px var(--color-dark-light) !important;
}

.brand {
  text-decoration: none;
  color: var(--color-primary);
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  padding: 8px;
}

.brand:hover{
  cursor:pointer;
  color:var(--color-third);
}

.nav-link{
  font-size: 18px;
}

.nav-item {
  color: var(--color-white);
  padding: 0;
  margin-left: 2rem;
}

.nav-item:hover{
  background-color: var(--color-dark-light);
  transition:all 0.4s ease;
  border-radius: 4px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
